altgraph==0.17.3
certifi==2023.7.22
charset-normalizer==3.2.0
coloredlogs==15.0.1
flatbuffers==23.5.26
humanfriendly==10.0
idna==3.4
macholib==1.16.2
onnxruntime==1.15.0
nuitka==1.9.7
requests==2.31.0
urllib3==2.0.6
lib-not-dr[nuitka]==0.4.0
# black==24.1.0
